.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    border-radius: 0 !important;

    .mat-expansion-panel-header {
      padding: 0;
      height: auto;

      &:hover {
        background: rgba(0, 0, 0, 0.02) !important;
      }

      &[aria-disabled=true] {
        color: inherit;
      }

      .mat-expansion-panel-header-title {
        margin-right: 0;
        cursor: context-menu;
      }
    }

    .mat-expansion-panel-body {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;
    }
  }

  .mat-expansion-panel-spacing {
    margin-top: 0;
    margin-bottom: 0;
  }
}
