@import 'utilities/layout';
@import 'utilities/variables';

@mixin styleIcon($color) {
  color: $color;

  ::ng-deep mat-icon {
    margin-right: 3px;

    svg {
      fill: $color;
    }
  }
}

a {
  color: $foreground-9;

  &:hover {
    color: $foreground;
  }
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filters-wrapper {
  padding-right: 12px;
}

.filters-row {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.snapshot-element {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.steps-container {
  padding-bottom: 50px;

  .snapshot-element {
    .name {
      font-size: 20px;
      font-weight: 500;
      margin: 20px 0;
    }

    .grid-like {
      font-size: 12px;
      display: grid;
      grid-template-columns: 100px 1fr;

      span {
        line-height: 24px;
      }

      > div:first-child {
        height: 24px;
      }

      .chip > div {
        line-height: 19px;
      }
    }

    .clone-sample {
      margin-bottom: 35px;
    }
  }

  //h3, .button-toggle-group {
  //  margin-bottom: 16px;
  //}
  //
  //p {
  //  margin-top: 0;
  //  margin-bottom: 48px;
  //}
}

.snapshots-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.chip {
  border-radius: 20px;
  padding-right: 6px;
  padding-left: 6px;
  height: 20px;
  min-width: 70px;
  border: 1px solid;

  @include flexRowVertCenter();

  &.purple {
    border-color: #bf5af2;
    background-color: #bf5af2;
    @include styleIcon(#fff);
  }

  &.red {
    border-color: rgb(211, 15, 69);
    background: rgb(211, 15, 69);
    @include styleIcon(#fff);
  }

  &.blue {
    border-color: #006bd6;
    background-color: #006bd6;
    @include styleIcon(#fff);
  }

  &.green {
    border-color: #287e76;
    background: #287e76;
    @include styleIcon(#fff);
  }

  &.white {
    background: $foreground-9;
    border-color: transparent;
    @include styleIcon($background-base);
  }

  &.gray {
    color: $foreground;
    border-color: $foreground-4;
  }

  &:hover {
    opacity: 1 !important;
  }
}

.bar {
  color: $foreground-6;
  font-size: 16px;
}

mat-accordion {
  display: block;

  &.loading {
    min-height: 450px;
  }

  a {
    color: $foreground;
  }

  mat-expansion-panel {
    background: $background-surface;

    &:hover:not(.mat-expanded) {
      background: $background-surface-fade-1;
    }

    .mat-expansion-panel-header:hover {
      background: none !important;
    }
  }

  .accordion-paddings {
    color: $foreground-7;
    padding-right: 15px;
    padding-left: 15px;
  }

  .panel-arrow {
    transition: 0.2s ease-out;
    transform: rotate(0deg);
    cursor: pointer;

    &.open {
      transform: rotate(90deg);
      cursor: context-menu;
    }
  }

  .download-btn {
    background-color: $foreground-1;
    width: 22px;
    height: 22px;
    @include flexRowVertCenter();

    &:hover {
      background-color: $foreground-2;
    }
  }

  .content-truncate {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    .chips {
      width: 160px;
    }

    &.body {
      > div {
        line-height: 24px;
      }
    }
  }
}


.clone-sample {
  background-color: $foreground-2;
  line-height: 14px;

  .code div {
    font-family: 'Roboto Mono', monospace;
  }

  .copy-button {
    margin-top: 24px;
    background-color: #71d970;
    color: rgba(36, 38, 40, 1);
    height: unset;

    &:hover {
      background-color: #70c46f;
    }
  }
}
