@import 'utilities/layout';
@import 'utilities/variables';

@mixin styleIcon($color) {
  color: $color;

  ::ng-deep mat-icon {
    margin-right: 3px;

    svg {
      fill: $color;
    }
  }
}

h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: -0.4px;
  color: $foreground-9;
}

.stats {
  border: 1px solid $foreground-2;
  padding: 3px 8px;
}

.snapshots-wrapper {
  max-width: 1350px;
  margin: 0 auto;
}

.chip-example {
  margin-bottom: 40px;
}

.chip {
  border-radius: 20px;
  padding-right: 6px;
  padding-left: 6px;
  height: 20px;
  min-width: 70px;
  border: 1px solid;

  @include flexRowCenter();

  &.blue {
    border-color: #006bd6;
    background-color: #006bd6;
    @include styleIcon(#fff);
  }

  &.green {
    border-color: #287e76;
    background: #287e76;
    @include styleIcon(#fff);
  }

  &.white {
    background: $foreground-9;
    border-color: transparent;
    @include styleIcon($background-base);
  }

  &.gray {
    color: $foreground;
    border-color: $foreground-2;
  }

  &:hover {
    opacity: 1 !important;
  }
}

.bar {
  color: $foreground-6;
  font-size: 16px;
}

mat-accordion {
  display: block;

  &.loading {
    min-height: 450px;
  }

  a {
    color: $foreground;
  }

  mat-expansion-panel {
    background: $background-surface;

    &:hover:not(.mat-expanded) {
      background: $background-surface-fade-1;
    }
  }

  mat-panel-title {
    .panel-title-content {
      max-width: 1000px;
      width: 100%;
    }
  }

  .accordion-paddings {
    color: $foreground-7;
    padding-right: 15px;
    padding-left: 15px;
  }

  .panel-arrow {
    transition: 0.2s ease-out;
    transform: rotate(0deg);
    cursor: pointer;

    &.open {
      transform: rotate(90deg);
      cursor: context-menu;
    }
  }

  .download-btn {
    background-color: $foreground-1;
    width: 22px;
    height: 22px;
    @include flexRowVertCenter();

    &:hover {
      background-color: $foreground-2;
    }
  }

  .content-truncate {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .chips {
      width: 160px;
    }

    &.body {
      > div {
        line-height: 24px;
      }
    }
  }

  .clone-sample {
    background-color: $background-surface-fade-1;
    line-height: 14px;

    .code div {
      font-family: 'Roboto Mono', monospace;
    }

    .copy-button {
      background-color: $foreground-1;
      height: unset;

      &:hover {
        background-color: $foreground-2;
      }
    }
  }
}
