@use '@angular/material' as mat;

@import 'utilities/variables';
@import 'utilities/text';
@import 'utilities/layout';
@import 'utilities/design';
@import 'material/material-icon';
@import 'assets/styles/material/material-popups';
@import 'material/material-accordion';
@import 'custom-components/button-group';

$custom-typography: mat.define-typography-config($font-family: '"Inter", sans-serif');
@include mat.core($custom-typography);


html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  margin: 0 !important;
  font-weight: 300;
  overflow-y: hidden;
  background-color: $background-base;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar-track {
  background-color: $background-surface-strong;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  height: 80px;
  background-color: $background-surface-fade-1;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.02);
}
