$green: #71d970;
$red: #c22e49;
$white2: #f2f3f7;
$gray63: #636366;
$black: #1c1c1e;



$foreground: var(--foreground);
$foreground-1: var(--foreground-1);
$foreground-2: var(--foreground-2);
$foreground-4: var(--foreground-4);
$foreground-5: var(--foreground-5);
$foreground-6: var(--foreground-6);
$foreground-7: var(--foreground-7);
$foreground-9: var(--foreground-9);

$background-base: var(--background-base);
$background-surface: var(--background-surface);
$background-surface-fade-1: var(--background-surface-fade-1);
$background-surface-fade-2: var(--background-surface-fade-2);
$background-surface-strong: var(--background-surface-strong);

$active-surface: var(--active-surface);
$table-hovered-row-background: var(--table-hovered-row-background);
